@model ASP.NET_MVC.Models.GENRE

@{
    ViewBag.Title = "Ajouter Genre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter Genre</h2>

<div>

    <form id="formGenre" name="formGenre" action="" method="post">
        @if (Model != null)
        {
            <input type="hidden" name="ID_GENRE" id="ID_GENRE" value="@Model.ID_GENRE" />
        }
        <div class="form-group">
            <label>Genre</label>
            <input type="text" id="LIBELLE_GENRE" name="LIBELLE_GENRE" class="form-control" value="@(Model!=null? Model.LIBELLE_GENRE:"")" required />
        </div>
        <div>
            @if (Model == null)
            {
                <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-success" />
            }
            else
            {
                <input type="submit" id="modifier" name="modifier" value="Enregistrer Modification" class="btn btn-success" />
                <a href="~/Genre/AjoutGenre" class="btn btn-default">Annuler</a>
            }
        </div>
    </form>

    <hr />

    <div class="table-responsive">
        <table class="table table-bordered" id="genres">
            <thead>
                <tr>
                    <th>Genre</th>
                    <th>Modifier</th>
                    <th> Supprimer</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in ViewBag.listeGenre)
                {
                    <tr>
                        <td>@data.LIBELLE_GENRE</td>
                        <td><a href="~/Genre/ModifierGenre/@data.ID_GENRE" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Modifier</a></td>
                        <td><a href="~/Genre/SupprimerGenre/@data.ID_GENRE" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Supprimer</a></td>
                    </tr>
                }
            </tbody>

        </table>
        @section scripts
        {
            <script>

                $(document).ready(function () { $("#genres").DataTable() })

            </script>
        </div>
        }
    </div>
